/* Estilos generales de los elementos del carrito */
.itemCart {
    display: flex;
    border: 1px solid #d2b8ff;
    width: 100%;
    height: 130px;
    align-items: center;
    border-radius: 5px;
    margin: 10px 0;
    position: relative;
    transition: box-shadow 0.3s ease; /* Agregada transición para un efecto más suave al interactuar */
}

.itemCart:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sutil sombra al pasar el ratón */
}

/* Botón de eliminar */
.itemCart .delete {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5b00fb;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer; /* Agregado cursor pointer para indicar interactividad */
}

.itemCart .delete img {
    transform: scale(0.6);
}

/* Imagen del producto */
.itemCart .img {
    display: flex;
    justify-content: center;
    align-items: center; /* Añadido centrado vertical para imágenes más pequeñas */
    width: 25%;
    height: 100%;
}

.itemCart .img img {
    transform: scale(0.4);
}

/* Descripción y cantidad del producto */
.itemCart .description-cantidad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 33.33%;
    height: 100%;
    padding: 0 15px; /* Añadido relleno para mejorar la separación del contenido */
}

.itemCart .description-cantidad .title {
    font-weight: bold;
}

/* Precio del producto */
.itemCart .price {
    display: flex;
    flex-direction: column;
    width: 33.33%;
    height: 100%;
    justify-content: center;
    padding: 0 15px; /* Añadido relleno para mejorar la separación del contenido */
}

.itemCart .price .subtotal {
    font-weight: bold;
}

.itemCart .price .price {
    font-weight: bold;
    color: #5b00fb;
    font-size: 1.5em; /* Cambiado el tamaño de fuente para mayor legibilidad */
}
